<div style="text-align: center;">
  <img 
  src="./../assets/download.jpg" 
  alt="LCO logo"
  width="100"
  height="100"
  class="logo"
  >
<h1 class="app-title">PIGEON todo list</h1>
</div>
<div class="container" style="text-align:center;">
  Add a todo ...
  <br>
  <input
   type="text" 
  class="input-text"
  placeholder="Type a todo"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
 />
 <button class="add-btn" (click)="addItem()">Add ToDo</button>
 <div class="list">
   <ul>
     <li *ngFor="let item of list">
       <input type="checkbox" name="isDone"
       [(ngModel)]="item.isDone"
       />
       
       {{item.value}}
       <button class="btn" (click)="deleteItem(item.id)">Delete</button>
     </li>
   </ul>
 </div>
</div>